* {
    margin: 0;
    padding: 0;
    outline-width: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana;
    font-size: 76%;
    line-height: 24px;
    color: #444;
}

h1 {
    border-bottom: 2px solid #e60022;
    font-family: Arial;
    font-size: 200%;
}

h2 {
    border-bottom: 2px solid #e60022;
    font-family: Trebuchet MS;
    font-size: 150%;
}

a {
    text-decoration: underline;
    color: #444;
}

a:hover {
    text-decoration: underline;
    color: #222;
}

a.button {
    display: block;
    padding: 4px 6px;
    border: 1px solid #ddd;
    border-radius: 2px;
    text-decoration: none;
    color: #444;
}

a.button:hover {
    border-color: #444;
    background-color: #444;
    color: #fff;
}

ul {
    list-style-type: none;
}

.clearfix::after,
.horizontal::after {
    display: table;
    clear: both;
    content: "";
}

.horizontal > * {
    float: left;
}

/*
 * The first child anchor will grow to cover its parent, effectively making the parent one huge link. Note that we
 * ensure child links will still work as expected because we bring them back to the front. Nesting ".big_link" elements
 * is not supported.
 */
.big_link {
    position: relative;
}

.big_link a {
    position: relative;
    z-index: 101;
}

.big_link > a:first-child {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}
