<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" type="text/css" href="/static/default.css"/>
    <link rel="stylesheet" type="text/css" href="/static/base.css"/>
    {% block head %}{% endblock %}

    <meta charset="UTF-8">
    <title>FlaskBook: {% block title %}{% endblock %}</title>

</head>
<body>

<div class="top_bar">
    <div class="header main_panel horizontal">

        <!-- TODO: Make a proper logo -->
        <img src="/static/header_logo.png"/>

        <ul class="horizontal">
            <li><a class="button" href="/index">Home</a></li>
        </ul>
    </div>
</div>

<div class="body">
    <div class="main_panel horizontal">

        <div class="menu">
            <ul>
                {% for item in page.menu_items %}
                <li><a class="button" href="{{ item.href }}">{{ item.name }}</a></li>
                {% endfor %}
            </ul>
        </div>

        <div class="content">
            {% block content %}{% endblock %}
        </div>
    </div>
</div>

</body>
</html>
